.cards {
  display: flex;
  justify-content: space-between;
}

.card-body {
  min-height: 80px;
  height: auto;
  text-align: center;
}

.light {
  display: flex;
  justify-content: space-around;
  
}

.align {
  align-items: center;
}
