.cards {
  display: flex;
  justify-content: space-between;
}

.card-body {
  height: 150px;
}

.light {
  display: flex;
  justify-content: space-around;
}

.btn-round {
  border-radius: 50% !important;
  width: 70px !important;
  height: 70px !important;
}
