// Specific CSS for your home-page
.home-page {
  height: 80vh;
  background: url(asset-path('bg')), #C4C4C4;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#home {
text-align: center;
}

.title-home-page h3{
  color: #fff;
  margin-bottom: 20px;
}

.mybusiness h4{
  color: #3C4858;
  font-weight: 100;
  font-size: 18px;
}

.mybusiness h3{
  color: #3C4858;
  margin-top: 50px;
}

.onboarding {
  height: 35vh;
  background-color: #fff;
  padding-top: 20px;
}

.mybusiness{
background-color: #fff;
height: auto;
}

.title{
  align-items: center;
  text-align: center;
}

.brand{
  position: absolute;
  left: 20px;
  top: 20px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 24px;
  color: #FFFFFF;
}

.description-home{
  padding-top: 20px;
}

.card .card-title {
  margin-top: 0.625rem;
}

.card .card-title:last-child {
  margin-bottom: 0;
}

.info {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.card-home {
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 100%;
}

.card-title-home .info-title-home .description-home {
  color: white;

}
.title,
.card-title,
.info-title,
.footer-brand,
.footer-big h5,
.footer-big h4,
.media .media-heading {
    font-weight: 700;
    font-family: "Roboto Slab", "Times New Roman", serif;
}
.icon.icon-rose {
    color: #e91e63;
    font-size: 15px;
}
.icon.icon-primary {
    color: #9c27b0;
}

.icon.icon-info {
    color: #00bcd4;
}
// .description-home {
//   padding: 5%;
// }
.row_cards {
  margin: 15px;
}
.material-icons {
  font-size: 45px !important;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #b20723;
    border-color: #c41922;
}
.info-vertical {
  margin-top: 20px
}
.flex-inside {
  display: flex;
  flex-direction: column;
  align-items: 'center';
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width : 768px) {
  .info {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: stretch;
  }
 }
