// Specific CSS for your home-page
.home-page {
  height: 100vh;
  background: url(asset-path('bg')), #C4C4C4;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.title{
  align-items: center;
  text-align: center;
}

.brand{
  position: absolute;
  left: 20px;
  top: 20px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 24px;

  color: #FFFFFF;

}

h1 {

  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 42px;
  text-align: center;
  color: #FFFFFF;
}

  .btn.btn-primary{
    font-size: 18px;
    text-align: center;
    color: #fff;
    background-color: #F44336;
    border-color: #F44336;
    box-shadow: 0 2px 2px 0 rgba(156, 39, 176, .14), 0 3px 1px -2px rgba(156, 39, 176, .2), 0 1px 5px 0 rgba(156, 39, 176, .12);
    border-radius: 30px;
    width: 191px;
    height: 54.99px;
    vertical-align: middle;
    padding-top: 15px;
  }

h3 {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 26px;
  text-align: center;
  color: #FFFFFF;
}

.info {
  text-align: center;
}

.card-home {
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 100%;
}

.card-title-home .info-title-home .description-home {
  color: white;
}
