.formulaire {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: calc(100vh - 110px);
}

.signin {
  // flex: 0 50%;
  padding: 40px;
}

.card .card-header-primary {
    background: linear-gradient(60deg, #3C4858, #3C4858);
}

.social-line {
  text-align: center;
  font-size: 18px;
}
.card-signup h4 {
  color: #3C4858;
  font-weight: 100;
  font-size: 18px;
  text-align: center;

}


.card-body {
  padding: 10px;
}

.card-footer {
  align-items: center;
  padding: 10px;
}

.form-actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  font-size: 12px;
  color: white;
}
.card-body a {
  color: #3C4858;
}

// Mobile & tablet
@media (max-width : 768px) {
  .formulaire {
    flex-direction: column-reverse;
    height: 100%;
    align-items: stretch;
  }
  .business, .signin {
    flex: 1;
  }
  .card-presentation {
    margin: 10px;
    padding: 20px;
  }
}
