<div class="container">
  <h1>Modifier la maison</h1>
  <%= simple_form_for (@house) do |f|  %>
  <%= f.input :name, required: true, autofocus: true  %>
      <div class="form-actions">
      <%= f.button :submit, "Valider" %>
      <%= link_to "Retour", devices_path, class:"btn btn-success" %>
      </div>

  <% end %>
</div>

