<div class="container">
  <div class="row">
    <% @devices.each do |key, value| %>
      <div class="col-xs-12 col-md-4">
        <div class="card card-nav-tabs light">
          <div class="card-header card-header-primary">
            <h3><%= value['name']%></h3>
          </div>
          <div class="card-body">
            <%= link_to 'Regarder', actions_path, class:'btn btn-primary smappee', type:"button" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
