<h1>Actions#index</h1>
<p>Find me in app/views/actions/index.html.erb</p>


<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">


      <% @set_temp = 19  %>
      <% @ambient_temp = 18  %>



      <!-- thermostat sart   ... -->

      <script>
        var ambient_temp = <%= @ambient_temp %>;
        var set_temp = <%= @set_temp %>;
      </script>



      <div id='container'>


      <div id='thermostat'></div>



          <label><span></span>
            <div id='input_ambient_temperature'> </div>
          </label>

          <label><span></span>
            <div id='input_target_temperature'></div>
          </label>
        </div>

        <label><span>Absent</span>
          <select id='input_away'>
            <option value=''>Non</option>
            <option value='1'>Oui</option>
          </select>
        </label>

        <label><span></span>
          <div id='input_state'>
          </div>
        </label>

        <label><span></span>
          <div id='input_leaf'>
          </div>
        </label>

        <!-- thermostat end -->

    </div>
  </div>
