<h1>Actions#index</h1>
<p>Find me in app/views/actions/index.html.erb</p>
</div>


<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

     <%= @ambient_temp %>
      <!-- thermostat sart   ... -->
      <div id='container'>

        <div id='controls'>

          <label><span>Ambient Temperature</span>
          <input type='range' min='-5' max='40' value='10' id='input_ambient_temperature' step='0.5' />
        </label>

        <label><span>Target Temperature</span>
          <input type='range' min='10' max='30' value='10' id='input_target_temperature' step='0.5' />
        </label>


            <label><span>Away</span>
            <select id='input_away'>
              <option value=''>No</option>
              <option value='1'>Yes</option>
            </select>
          </label>
        </div>

</div>

        <div id='thermostat'></div>



        <div id='controls'>


            <label><span>State</span>
            <select id='input_state'>
              <option value='off'>Off</option>
              <option value='heating'>Heating</option>
              <option value='cooling'>Cooling</option>
            </select>
          </label>

            <label><span>Leaf</span>
            <select id='input_leaf'>
              <option value=''>No</option>
              <option value='1'>Yes</option>
            </select>
          </label>

      <!-- thermostat end -->
    </div>
  </div>
</div>
