// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

.main {
  height: 100vh;
  width: 100vw;
  .main-content {
    background: rgb(253, 253, 253);
    height: calc(100vh - 70px);
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    .content {
      min-height: calc(100vh - 100px)
    }
  }
}

h1 {
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 42px;
  text-align: left;
  color: #3C4858;
}

h3 {
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 26px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  font-weight: 200;
}

h2 {
  font-size: 34px;
  font-weight: 400;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  font-weight: 100;
}

.container {
  padding: 10px;
}

a {
  text-decoration: none !important;

}

p{
  font-size: 14px;
}
