<div class="container">
  <div class="row cards">
      <% @devices.each do |device| %>
      <div class="col-md-4">
      <div class="card card-nav-tabs">
        <div class="card-header card-header-primary">
          <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="nav-item">
                  <h4><%= device.name %></h4>
                  <h4>
                    <%= link_to "Modifier", edit_device_path(device.id), class: 'btn btn-default' %>
                    <%= link_to "Supprimer", device_path(device.id) , method: "delete", class: "btn btn-default " %>
                    <%= link_to "Action", actions_path, class: 'btn btn-default' %>
                  </h4>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body ">
          <div class="tab-content ">
            <div class="tab-pane active" >
              <p>
                Du graphique ou du texte
                <br>
                Quidem iis deterritum enim eruditi quidem est est aut fuisset te eruditi ita ne artibus quamquam artibus qui alios ipse deterruisset te tibi est quidem alios videri te tenent necesse.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
