<div class="col-md-4">
  <%= link_to device_path(device) do %>
    <div class="card card-nav-tabs">
      <div class="card-header card-header-primary">
        <h3><%= device.name %></h3>
      </div>
      <div class="card-body single-light">
        <%= link_to 'Régler la température', actions_path, class:'btn btn-primary', type:"button" %>
      </div>
    </div>
  <% end %>
</div>
