<div class="col-md-4">
  <%= link_to device_path(device) do %>
    <div class="card card-nav-tabs">
      <div class="card-header card-header-primary">
        <h4><%= device.name %></h4>
      </div>
      <div class="card-body align">
        <%= link_to 'Regarder', actions_path, class:'btn btn-default' %>
      </div>
    </div>
  <% end %>
</div>
