<div class="card card-nav-tabs light">
  <div class="card-header card-header-primary">
    <h3><%= device.name %></h3>
  </div>
  <div class="card-body">
    <!-- thermostat  -->

    <%= render "shared/modal_thermostat", device: @thermostat  %>

<!-- thermostat -->
  </div>
</div>
