<div class="col-xs-12 col-sm-4">
  <div class="card card-nav-tabs">
    <div class="card-header card-header-primary">
      <h3><%= name %></h3>
      <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
    </div>
    <div class="card-body" style= "height: 400px">
      <%= link_to "#" do %>
                  <div id="<namehart-1" style="height: 150px">
           <% if multiline %>
           <%= line_chart [
            {name: "Electricité", data: graph1 },
            {name: "Solaire", data: graph2}
            ], defer: true %>
            <% else %>
            <%= line_chart graph, defer: true %>
            <% end %>
          </div>

      <% end %>
    </div>
  </div>
</div>
