<%  %>

<div class="footer ">
  <div class="footer-links">
    <a href="#" target="_blank" class="footer-text">About us</a>
    <a href="#" target="_blank" class="footer-text">Contact</a>
  </div>
</div>
