
<div class="home-page">
  <div class="title-home-page">
    <div class="title">
      <h1>Invest in saving money</h1>
      <h3>
        L'appli de suivi des consommations énergétiques & gestion des objets connectés
      </h3>
        <br>
        <%= link_to 'Entrer', devices_path, class:'btn btn-primary' %>
    </div>
  </div>
</div>
<div class="onboarding">
  <div class="business">
    <div class="card-home card-presentation">
      <h3 class="card-title-home text-center">Intelligent, simple et inspirant</h3>
      <div class="row cards">

        <div class="info info-vertical">
          <div class="icon icon-rose">
            <i class="material-icons">code</i>
          </div>
          <div class="description-home">
            <h4 class="info-title-home">Récupérez vos données </h4>
            <p class="description-home">
              Grâce aux moniteurs d’énergie ainsi que vos objets connectés, récupérez toutes les informations sur votre habitat d'un point de vue énergétique.
            </p>
          </div>
        </div>
        <div class="info info-vertical">
          <div class="icon icon-primary">
            <i class="material-icons">timeline</i>
          </div>
          <div class="description-home">
            <h4 class="info-title-home">Analysez vos données</h4>
            <p class="description-home">
              Vous savez combien d’énergie vous consommez et vous produisez à tout moment et partout, pour plus de confort.
            </p>
          </div>
        </div>
        <div class="info info-vertical">
          <div class="icon icon-info">
            <i class="material-icons">group</i>
          </div>
          <div class="description-home">
            <h4 class="info-title-home">Agissez sur votre habitat</h4>
            <p class="description-home">
              Vous avez la possibilité d'interagir avec votre habitat par l'intermédiaire d'objets connectés référencés, et ainsi faire jusqu’à 30 % économie d’énergie durable.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
