
<div class="home-page">
  <div class="title-home-page">
    <div class="title">
      <h1>Invest in saving money</h1>
      <h3>
        L'appli de suivi des consommations énergétiques & gestion des objets connectés
      </h3>
        <br>
        <%= link_to 'Entrer', devices_path, class:'btn btn-primary' %>
    </div>
  </div>
</div>
