
<div class="home-page">
  <div class="brand">
    <p>ENERGY SAVER</p>
  </div>
  <div class="title-home-page">
    <div class="title">
      <h1>Invest in saving money</h1>
      <h3>Every landing page needs a small description after the big bold title,
        that's why we added this text here. </h3>
        <br>
        <a href="#" class="btn btn-primary">Get Started</a>
    </div>
  </div>
</div>
