<h1>Analysis dashboard</h1>


<div class="container">

  <div id="chart-1" style="height: 800px">

    <%= line_chart [
      {name: "Electricity", data: @graph_instant_elec},
      {name: "Solar", data: @graph_instant_solar},
      {name: "Gas", data: @graph_instant_gas},
      {name: "Solaire", data: @graph_instant_water}

    ] , defer: true%>



  </div>

<h3 style = "color:black">

 <%= link_to "Day  ", '#', class:"btn" %>
 <%= link_to "Month", '#', class:"btn" %>
 <%= link_to "Year ", '#', class:"btn" %>


</h3>


</div>
