.btn-home {
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-color: #F44336;
  border-color: #F44336;
  box-shadow: 0 2px 2px 0 rgba(156, 39, 176, .14), 0 3px 1px -2px rgba(156, 39, 176, .2), 0 1px 5px 0 rgba(156, 39, 176, .12);
  border-radius: 30px;
  height: auto;
  vertical-align: middle;
  padding: 10px 15px 10px 15px;
}

.btn-round {
  border-radius: 50px !important;
  width: 50px;
  height: 50px;
}

.btn-therm {
  background: #d94734;
  background-image: -webkit-linear-gradient(top, #d94734, #2980b9);
  background-image: -moz-linear-gradient(top, #d94734, #2980b9);
  background-image: -ms-linear-gradient(top, #d94734, #2980b9);
  background-image: -o-linear-gradient(top, #d94734, #2980b9);
  background-image: linear-gradient(to bottom, #d94734, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 14px 14px 14px #666666;
  -moz-box-shadow: 14px 14px 14px #666666;
  box-shadow: 14px 14px 14px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 60px;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
}

.btn-therm:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
