// .providers-list {
//   display: flex;
//   justify-content: space-around;
//   padding: 30px;
//   width: 100%;
//   list-style: none;
// }
//
// .providers-list--item {
//   > a {
//     display: flex;
//     flex-direction: column;
//   }

  img {
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
  }
